@use "base/variables" as v;
@use "base/mixins" as m;

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  // background: v.$blanco;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  @include m.desktop {
    cursor: none;
  }
  // position: relative;
  font-size: 16px;
  background-color: v.$gris !important;
  width: 100vw;
  overflow-x: hidden;
}

.dark-mode {
  background-color: #141414 !important;
  h1,
  h2,
  h3,
  h4,
  p,
  a,
  span {
    color: v.$gris !important;
  }

  .counter {
    color: #fff;
  }

  .progress-bar {
    background: #fff !important;
  }

  footer {
    background-color: #111 !important;
    color: #fff !important;
  }

  #toggle {
    span {
      background-color: #fff;
      &::after,
      &::before {
        background-color: #fff;
      }
    }
  }

  #menu {
    background-color: #fff;
    color: v.$negro !important;

    &::after {
      border-bottom: 20px solid v.$blanco;
    }

    a {
      color: v.$negro !important;

      &.active {
        background: #cec2df;
      }

      &:hover {
        color: v.$blanco !important;
        background: #cec2df;
      }
    }
  }

  #header {
    div:nth-child(1) {
      .img-header {
        box-shadow: -10px 10px 20px 10px rgba(3, 3, 3, 0.404) !important;
        &:hover {
          box-shadow: 0px 15px 15px 10px rgba(3, 3, 3, 0.404) !important;
        }
      }
    }
    div:nth-child(2) {
      .img-header {
        box-shadow: 10px 10px 20px 10px rgba(3, 3, 3, 0.404) !important;
        &:hover {
          box-shadow: 0px 15px 15px 10px rgba(3, 3, 3, 0.404) !important;
        }
      }
    }
    button {
      box-shadow: 10px 12px 20px 2px rgba(0, 0, 0, 0.904) !important;
    }
  }

  .section1 {
    .carousel-wrapper {
      box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.582);
      &:hover {
        box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.555);
      }
    }
  }

  .section3 {
    div:nth-child(1) {
      .img-header {
        box-shadow: -10px 10px 30px 10px rgba(3, 3, 3, 0.404) !important;
        &:hover {
          box-shadow: 0px 15px 20px 10px rgba(3, 3, 3, 0.404) !important;
        }
      }
    }
    div:nth-child(2) {
      .img-header {
        box-shadow: 10px 10px 30px 10px rgba(3, 3, 3, 0.404) !important;
        &:hover {
          box-shadow: 0px 15px 20px 10px rgba(3, 3, 3, 0.404) !important;
        }
      }
    }
  }

  #contact {
    
    button {
      border: .1rem solid v.$blanco;
    }
  }

  .modal {
    p {
      color: v.$negro !important;
    }
    span {
      color: v.$negro !important;
    }
  }

  .toggle {
    background-color: #fff !important;
    &::before,
    &::after {
      background-color: #333;
    }
  }
}
