$negro: #333;
$blanco: #fff;
$gris: rgb(231, 231, 231);

// Cards

$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade: #007c85;

$darkGrey: #4f585e;
